.card_Vincent {
    position: relative;
    width: 80%;
    height: 300px;
    color: #808080;
    border-radius:20px;
    overflow: hidden;
    background: url("../images/VF.jpeg") center no-repeat;
}

.card_Yiru {
    position: relative;
    width: 80%;
    height: 300px;
    color: #808080;
    border-radius:20px;
    overflow: hidden;
    background: url("../images/YM.jpeg") center no-repeat;
}

.card_Zander {
    position: relative;
    width: 80%;
    height: 300px;
    color: #808080;
    border-radius:20px;
    overflow: hidden;
    background: url("../images/pfp.png") center no-repeat;
}

.card_S {
    position: relative;
    width: 80%;
    height: 300px;
    color: #808080;
    border-radius:20px;
    overflow: hidden;
    background: url("../images/headshot.jpg") center no-repeat;

}

.card {
    position: relative;
    width: 80%;
    height: 300px;
    color: #a18a96;
    border-radius:20px;
    overflow: hidden;
    background: url("../images/M.jpg") center no-repeat;

}

.card_content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: antiquewhite;
    border-top-left-radius: 20px;
    transform: translateY(80%);
    transition: transform .25s;
}

.card_content::before {
    content: '';
    position: absolute;
    top:-47px;
    right: -45px;
    width:300px;
    height:300px;
    transform:rotate(-175deg);
    border-radius: 50%;
}
.card_title{
    color: #6A515E;
    line-height: 15px;
}

.card_subtitle{
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.card_description{
    font-size:14px;
    opacity: 0;
    transition: opacity .5s
}


.card:hover .card_content{
    transform: translateY(0);
}

.card:hover .card_description{
    opacity:1;
    transition-delay: .25s;
}

.card_Vincent:hover .card_content{
    transform: translateY(0);
}

.card_Vincent:hover .card_description{
    opacity:1;
    transition-delay: .25s;
}

.card_Yiru:hover .card_content{
    transform: translateY(0);
}

.card_Yiru:hover .card_description{
    opacity:1;
    transition-delay: .25s;
}

.card_Zander:hover .card_content{
    transform: translateY(0);
}

.card_Zander:hover .card_description{
    opacity:1;
    transition-delay: .25s;
}

.card_S:hover .card_content{
    transform: translateY(0);
}

.card_S:hover .card_description{
    opacity:1;
    transition-delay: .25s;
}


